body {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    background-image: url('esapcio.png');
}

.logo img {
    width: 78px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 35px;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 15px 50px;
    position: relative;
}

.navbar a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    border-radius: 8px;
}

.navbar a:hover {
    border-radius: 8px;
    background-color: #9092f8;
    transform: scale(1.2);
}

.filter-container {
    text-align: center;
    margin: 20px 0;
    margin-top: 20px;
}

.filters-container {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.filters-container label {
    margin-right: 15px;
    white-space: nowrap;
}



.map-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(117, 102, 184));
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container h2 {
    font-variation-settings:
    "wdth" 125;
    text-align: center;
    margin-bottom: 18px;
    color: white;
}

#map {
    height: 500px;
    border: 2px solid #ffffff;
    border-radius: 6px;
}


.legend {
    display: none;
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    left: 0;
    opacity: 95%;
    background: #9092f8;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Fredoka", sans-serif;
    z-index: 1000;
    width: 250px;
}

.legend p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.legend button {
    font-family: "Fredoka", sans-serif;
    width: 250px;
    height: 55px;
    margin-bottom: 7px;
    border: none;
    background-color: transparent;
    padding: 7px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.legend-icon {
    margin-left: 0px;
    height: 27px;

}

.filter-container {
    text-align: center;
    margin: 20px 0;
}

.filter-container label,
.filter-container input {
    font-family: "Fredoka", sans-serif;
    margin: 0 10px;
    font-size: 16px;
    color: white;
    background-color: #000000;
    opacity: 90%;
}

.filters-container label {
    margin-right: 15px;
}

#filter-btn {
    font-family: "Fredoka", sans-serif;
    background-color: #9092f8;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#filter-btn:hover {
    border-radius: 8px;
    background-color: #a0cfe2;
    transform: scale(1.2);
 
}

#globe {
    height: 500px;
    width: 100%;
    margin: 20px auto;
}

#globe-container {
    display: none;
}

#toggle-view-btn {
    font-family: "Fredoka", sans-serif;;
    float: right;
    margin-right: 75px;
    margin-top: 60px;
    padding: 10px 20px;
    font-size: 16px;
    background-color:#9092f8 ;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

#toggle-view-btn:hover {
    border-radius: 8px;
    background-color: #a0cfe2;
    transform: scale(1.2);
}