body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('nasa.png');
}

.navbar {
    position: static;
    background-color: #4169b8;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.navbar a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transiciones suaves */
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

.navbar a:hover {
    border-radius: 8px;
    background-color: #6fa8e6;
    transform: scale(1.2);
}

/* Estilos para el contenedor del mapa */
.map-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.map-container h2 {
    text-align: center;
    margin-bottom: 11px;
}

#map {
    height: 500px;
    border: 2px solid #0a9168;
    border-radius: 6px;
}


.legend {
    display: none;
    position: absolute;
    margin-top: 26px;
    left: 0;
    opacity: 95%;
    background: rgb(255, 255, 255);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    z-index: 1000;
    width: 250px;
}

.legend p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

.legend button {
    width: 250px;
    height: 55px;
    margin-bottom: 7px;
    border: none;
    background-color: transparent;
    padding: 7px 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.legend-button:hover {
    background-color: #4169b8;
    transform: scale(1.05);
    border-radius: 10px;
}

.legend-icon {
    margin-left: 0px;
    height: 27px;

}

.filter-container {
    text-align: center;
    margin: 20px 0;
}

.filter-container label,
.filter-container input {
    margin: 0 10px;
    font-size: 16px;
    color: white;
}

#filter-btn {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#filter-btn:hover {
    border-radius: 8px;
    background-color: #6fa8e6;
    transform: scale(1.2);
}
 